.input_type_typehead
    .input__control
        z-index: 2

.input_type_typehead
    .input__hint
        position: absolute!important
        z-index: 1
        left: 0
        top: 0
        opacity: .3
