.gcsearch{
    max-width: 900px;
    margin: 10px auto;
    .gsc-control-cse .gsc-table-result {
        font-family: font_sans_serif;
        font-size: 16px;
    }
    .gsc-control-cse,
    .gsc-control-cse
    .gsc-table-result {
        font-family: font_sans_serif;
        font-size: 16px
        line-height: 26px
    }
    .gsc-control-cse
    .gs-spelling,
    .gsc-control-cse
    .gs-result .gs-title,
    .gsc-control-cse .gs-result .gs-title * {
        font-family: font_serif;
        font-size: 28px;
        line-height: 39px;
        height: 39px
        text-decoration: unset
    }
    .gsc-url-top {
        font-size: 14px;
    }
    .gs-image-box.gs-web-image-box.gs-web-image-box-portrait {
        width: 150px;
        height: auto;
        margin: 0 15px 0 0;
    }
    .gs-web-image-box-portrait img.gs-image {
        max-width: 150px;
        max-height: 150px;
    }
    .gsc-results .gsc-cursor-box .gsc-cursor-page {
        padding: 7px 1rem;
        box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.2)
        font-size: 16px;
    }
    .gsc-webResult .gsc-result {
        margin: 0 0 26px;
    }
}

