.select_suggest
    &_single
        .control-group
            display: flex
        .select
            &__input
                width: 100%
                &.input_focused
                    &:before
                        right: 0
            &__button
                width: 35px!important
