.avatar_size_l
    height: auto;
    max-width: 100%;
    width: 235px;
    position: relative;
    .avatar__link {
        border: 1px solid $base_grey_light;
        .image {
            width: 100%;
            height: auto;
        }
    }
