.avatar_size_xl
    height: auto;
    max-width: 100%;
    width: 256px;
    position: relative;
    .avatar__link {
        border: 1px solid $base_grey_light;
        .image {
            width: 100%;
            height: auto;
        }
    }
