.comment-editor__body
    overflow-y: auto
    box-sizing: border-box
    position: relative
    &:empty::before
        content: attr(placeholder)
        color: $base_grey;
        text-indent: 0;
    a
        color: $base_color
        transition: color 0.15s ease-out;
        text-decoration: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
        outline: 0;
        &:hover
            color: $link_hovered

.comment-editor_focused .comment-editor__body:before,
.comment-editor__body:focus:before
    display: none

