.avatar__social{
    background: #548dce;
    border: 4px solid #ffffff;
    border-radius: 50%;
    bottom: 8%;
    color: #ffffff;
    font-size: 2.8rem;
    height: 3.5rem;
    left: 14%;
    position: absolute;
    width: 3.5rem;
    .icon{
        color: #ffffff;
        left: 0;
        position: relative;
        top: 10px;
    }
}
