.popup_animate_zoom
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: running;
    &.popup_direction_bottom-center
        animation-name: animationZoomOut
        &.popup_visible
            animation-name: animationZoomIn
    &.popup_direction_top-center
        animation-name: animationZoomOut
        &.popup_visible
            animation-name: animationZoomIn
