.attach-preview
    &_checked
        &:after
            content: ''
            display: block
            position: absolute
            transform-origin: 50%
            transform: rotate(-90deg)
            width: 25px
            height: 25px
            top: -10px;
            right:-10px
            background-image: url(paperclip.svg)
            background-repeat: no-repeat
