.widget_type_comments
    .widget__comment
        margin-bottom: 1rem;
        .avatar{
            margin-right: 13px;
        }
        .link{
            font-family: font_serif;
            font-size: 1rem !important;
        }
        .widgets__wrap{
            color: $base_grey_dark;
            font-size: 14px;
            line-height: 150%;
        }
        .widgets__body{
        }
        .widget__header{
            display: flex
            flex-flow: row
            align-items: center
        }
        .widget__info{
            font-size: 12px;
            .link{
                font-size: 12px !important;
            }
        }
