.image__spin
  display: none
  transition: opacity 1s ease-out
  z-index: 2
  text-align: center
  .spin_theme_islands.spin_visible
    position: absolute
    top: 50%
    left: 50%
    margin-top: -14px
    margin-left: -14px
