.button_progress_spin
    transition: all .3s ease
    position: relative
    text-overflow: ellipsis
    &:before
        transition: all .3s ease
    &.button
        &_process
            &_started,
            &_started:before
                border-radius : 50%
            &_started
                .button__text
                    opacity: 0
                .button__elastic-loader
                    transition-delay: 0
                    opacity: 1
                    transform-origin: 50% 50%
                    animation: button-spin 1s infinite linear;
                    path
                        stroke: $success_color;
                        fill: transparent
                        stroke-width: 5

@keyframes button-spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
