.collapse
    &__content
        position: relative
        overflow: hidden
        max-height: 0;
        transition: max-height 0.5s ease-out;
    &__header
        position: relative
        overflow: hidden
        cursor: default
    &__tick
        cursor: pointer
        position: absolute;
        right: 10px
        top: 10px
        transition: transform 0.1s ease-out 0s;
        font-size: 1.3rem;
        line-height: 26px;
    &_opened
        .collapse
            &__content
                max-height: 1000px;
                transition: max-height 0.5s ease-out;
            &__tick
                transform: rotate(-180deg);
