.input_type_date
    border-width: 0!important
    .input
        &__day
            width: 2.5rem
        &__month
            .button
                padding-left: 10px
        &__year
            width: 3.5rem

