.input_type_datepicker{
    background: none !important;
    border-bottom: 1px solid $base_grey_light !important;
    &.input_focused{
        background: none !important;
        border: 1px solid transparent !important;
        border-bottom: 1px solid $base_color !important;
    }
}
