.image_load_lazy
    opacity: 0;
    background: #f9f9f9
    overflow: hidden
    &.image_state_loaded
        transition: opacity 0.3s
        background: none
        opacity: 1
    &.image
        display: inline-block
        &_state
          &_loading
            .image__spin
              display: block
          &_loaded
            .image__spin
              display: block
              opacity: 0
