.image_load_lazy
    display: block
    overflow: hidden
    transition: opacity 0.3s
    position: relative
    &.image_state_loaded
        background: none
        opacity: 1
    &.image
        &_state
          &_loading
            .image__spin
              display: block
              opacity: .5
          &_loaded
            .image__spin
              display: block
              opacity: 0

.ua_js_no
    .image_load_lazy
        .image__container
            display: none
