.widget_colored
    background : $base_grey_light
    .widget
        &__title
            color: #fff
            background: $base_color
            padding: 13px 20px
            text-transform: uppercase
            box-sizing: border-box
            .heading
                display: inline
                font: font_size_s font_sans_serif
                margin: 0
